

.entire-div{
    /* min-height:100vh; */
    display:flex;
    align-items: center;
    justify-content:center;
    /* background-color:#f1f1f1; */
}

.content-section{
    
    background: no-repeat left url("learn-more.jpg");
    background-size:48%;
    background-color:#fdfdfd;
    overflow:hidden;
    /* padding:20px 0; */
}
.inner-wrapper{

    width:55%;
    float:right;
    background-color:rgba(19,151,213,255);
    padding:100px;

}
.inner-wrapper h1{
    margin-bottom:30px;
    font-size:30px;
    font-weight:900;
    color:white;
}
.follow-steps-span{
    font-size:25px; 
    color:greenyellow;

}

.step{
    font-size:17px;
    color:white;
    line-height:30px;
    text-align:justify;
}


@media screen and (max-width:1200px){
    .inner-wrapper{
        padding:80px;
    }
}
@media screen and (max-width:600px){
    .content-section{
        padding:0;
    }
    .inner-wrapper{
        width:100%;
        padding:25px;

    }
    .inner-wrapper h1{
        padding-top:0;

    }
}
